.container-fluid{
    background-color: #F17D71 ;
    margin: 0 auto;
          
}

 .container-sm{
        background-color: aqua;
        text-align: center;
        align-items: center;
    }
        
.col-6{
    background-color: blueviolet;
}

.col{
    background-color: #FFC300;
}

.col-3{
    background-color: #C2FCC9;
}
