<form action="/admin/login" method="post">
  <div class="form-group">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" name="usuario">
    <small id="emailHelp" class="form-text text-muted">No compartas este dato.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
     <small id="emailHelp" class="form-text text-muted">No compartas este dato.</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Desloguearme al salir</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{{#if error}}
<p> usuario y contraseña incorrectos</p>
{{/if}}